@font-face {
	font-family: 'Graphik Web';
	src: url('Graphik-Bold-Web.woff2') format('woff2'),
		 url('Graphik-Bold-Web.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	}

.Graphik-Bold-Web {
	font-family: 'Graphik Web';
	font-weight: 700;
	font-style: normal;
	}
