@font-face {
	font-family: 'Graphik Web';
	src: url('Graphik-Light-Web.woff2') format('woff2'),
		 url('Graphik-Light-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	}

.Graphik-Light-Web {
	font-family: 'Graphik Web';
	font-weight: 300;
	font-style: normal;
	}
